.structure {
    position: relative;
  padding: 16px;
  border-left: 1px solid var(--border-color);
  height: calc(100% - 32px);
  width: calc(100% - 32px);

  h3 {
    margin-bottom: 4px;
  }

  .onClick_create_structure{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;border-radius: 30px;
    background: #8c8c8c;
    border: none;
    cursor: pointer;
  }
  .onClick_reload_structure{
    position: absolute;
    top: 20px;
    right: 42px;
    width: 30px;
    height: 30px;border-radius: 30px;
    background: #8c8c8c;
    border: none;
    cursor: pointer;
  }
  
}
