* {
  margin: 0;
  padding: 0;
}

:root {
  // font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  background-color: rgb(255, 255, 255);
  color: black;
  // min-height: 100vh;
  // min-width: 100vw;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
}